@media only screen and (min-width: 0px) and (max-width: 500px) {
    .header_nav {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_logo {
        width: 80vw;
        margin-left: 10vw;
    }

    .header_logo img {
        margin-top: 2vh;
        width: 30vw;
        margin-left: 25vw;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 28px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: -2vw;
    }
}
