@media only screen and (min-width: 200px) and (max-width: 299px) {
    .header_nav {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_logo {
        width: 80vw;
        margin-left: 10vw;
    }

    .header_logo img {
        margin-top: 2vh;
        width: 30vw;
        margin-left: 25vw;
    }

    .header_content h1 {
        font-size: 32px;
        font-weight: 500;
        margin-top: -20vh;
        text-align: center;
    }

    .header_content p {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 5px;
        text-align: center;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 14px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: 0vw;
    }

    .header_buttons {
        width: 100vw;
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .header_buttons button {
        width: 100px;
        height: 6vh;
        margin-top: 2vh;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 0px;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        color: #e0e0e0;
        transition: all 0.5s ease-in-out;
    }

    .header_buttons button:first-of-type {
        margin-right: 0.5vw;
    }

    .header_buttons button:last-of-type {
        margin-left: 0.5vw;
    }

    .header_buttons button:hover {
        cursor: pointer;
        color: #fff;
    }
}

@media only screen and (min-width: 300px) and (max-width: 349px) {
    .header_nav {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_logo {
        width: 80vw;
        margin-left: 10vw;
    }

    .header_logo img {
        margin-top: 2vh;
        width: 30vw;
        margin-left: 25vw;
    }

    .header_content h1 {
        font-size: 32px;
        font-weight: 500;
        margin-top: -20vh;
        text-align: center;
    }

    .header_content p {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 5px;
        text-align: center;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 16px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: 0vw;
    }

    .header_buttons {
        width: 100vw;
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .header_buttons button {
        width: 100px;
        height: 6vh;
        margin-top: 2vh;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 0px;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        color: #e0e0e0;
        transition: all 0.5s ease-in-out;
    }

    .header_buttons button:first-of-type {
        margin-right: 0.5vw;
    }

    .header_buttons button:last-of-type {
        margin-left: 0.5vw;
    }

    .header_buttons button:hover {
        cursor: pointer;
        color: #fff;
    }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {

    .header_nav {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_logo {
        width: 80vw;
        margin-left: 10vw;
    }

    .header_logo img {
        margin-top: 2vh;
        width: 30vw;
        margin-left: 25vw;
    }

    .header_content h1 {
        font-size: 34px;
        font-weight: 500;
        margin-top: -20vh;
        text-align: center;
    }

    .header_content p {
        margin-top: 1vh;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 5px;
        text-align: center;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 22px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: -5vw;
    }

    .header_buttons {
        width: 100vw;
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .header_buttons button {
        width: 150px;
        height: 6vh;
        margin-top: 2vh;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 0px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        color: #e0e0e0;
        transition: all 0.5s ease-in-out;
    }

    .header_buttons button:first-of-type {
        margin-right: 0.5vw;
    }

    .header_buttons button:last-of-type {
        margin-left: 0.5vw;
    }

    .header_buttons button:hover {
        cursor: pointer;
        color: #fff;
    }
}

@media only screen and (min-width: 401px) and (max-width: 499px) {

    .header_nav {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_logo {
        width: 80vw;
        margin-left: 10vw;
    }

    .header_logo img {
        margin-top: 2vh;
        width: 30vw;
        margin-left: 25vw;
    }

    .header_content h1 {
        font-size: 34px;
        font-weight: 500;
        margin-top: -20vh;
        text-align: center;
    }

    .header_content p {
        margin-top: 1vh;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 5px;
        text-align: center;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 22px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: -1vw;
    }

    .header_buttons {
        width: 100vw;
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .header_buttons button {
        width: 150px;
        height: 6vh;
        margin-top: 2vh;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 0px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        color: #e0e0e0;
        transition: all 0.5s ease-in-out;
    }

    .header_buttons button:first-of-type {
        margin-right: 0.5vw;
    }

    .header_buttons button:last-of-type {
        margin-left: 0.5vw;
    }

    .header_buttons button:hover {
        cursor: pointer;
        color: #fff;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {

    .header_nav {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_logo {
        width: 80vw;
        margin-left: 10vw;
    }

    .header_logo img {
        margin-top: 2vh;
        width: 30vw;
        margin-left: 25vw;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 28px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: -2vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {

    .header_nav {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_logo {
        width: 80vw;
        margin-left: 10vw;
    }

    .header_logo img {
        margin-top: 2vh;
        width: 30vw;
        margin-left: 25vw;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 28px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: 10vw;
    }
}

@media only screen and (min-width: 700px) and (max-width: 776px) {

    .header_nav {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_logo {
        width: 80vw;
        margin-left: 10vw;
    }

    .header_logo img {
        margin-top: 2vh;
        width: 30vw;
        margin-left: 25vw;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 28px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: 13vw;
    }
}

@media only screen and (min-width: 777px) and (max-width: 900px) {

    .header_nav {
        width: 70vw;
        height: auto;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_content {
        width: 100vw;
        height: 70vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header_logo {
        width: 20vw;
        float: right;
        margin-right: 3vw;
        margin-top: 2vh;
    }

    .header_logo img {
        width: 20vw;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 28px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: 0vw;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {

    .header_nav {
        width: 70vw;
        height: auto;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_content {
        width: 100vw;
        height: 70vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header_logo {
        width: 20vw;
        float: right;
        margin-right: 3vw;
        margin-top: 2vh;
    }

    .header_logo img {
        width: 20vw;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 28px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: 0vw;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {

    .header_nav {
        width: 80vw;
        height: auto;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_content {
        width: 100vw;
        height: 70vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header_logo {
        width: 10vw;
        float: right;
        margin-right: 2vw;
        margin-top: 2vh;
    }

    .header_logo img {
        width: 10vw;
    }

    .header_nav ul {
        width: 100vw;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 28px;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li {
        margin-left: 0vw;
    }
}

@media only screen and (min-width: 1501px) and (max-width: 1699px) {
    
    .header_container {
        width: 100vw;
        height: 20vh;
    }

    header {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../assets/background_landscape.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-origin: border-box;
    }

    .active {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        border-bottom: 4px solid #850505;
        padding-bottom: 0.2vh;
        color: #fff;
    }

    .header_logo {
        width: 10vw;
        float: right;
        margin-right: 6vw;
        margin-top: 2vh;
    }

    .header_logo img {
        width: 10vw;
    }

    .header_nav ul {
        width: 80vw;
        float: left;
        height: 8vh;
    }

    .header_nav {
        width: 50vw;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_nav ul {
        margin-top: 5vh;
        margin-left: 10vw;
    }

    .header_nav li {
        display: inline-block;
        margin-top: 2vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li:not(.active) {
        padding-bottom: 0.5vh;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 2.2rem;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li a:hover {
        color: #fff;
    }

    .header_main {
        display: block;
        width: 100vw;
    }

    .header_content {
        width: 100vw;
        height: 80vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header_content h1 {
        font-size: 48px;
        font-weight: 500;
        margin-top: -20vh;
        text-align: center;
    }

    .header_content p {
        margin-top: 1vh;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 5px;
        text-align: center;
    }

    .header_buttons {
        width: 100vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .header_buttons button {
        width: 150px;
        height: 4vh;
        margin-top: 2vh;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 0px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        color: #e0e0e0;
        transition: all 0.5s ease-in-out;
    }

    .header_buttons button:first-of-type {
        margin-right: 0.5vw;
    }

    .header_buttons button:last-of-type {
        margin-left: 0.5vw;
    }

    .header_buttons button:hover {
        cursor: pointer;
        color: #fff;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 1900px) {
    
    .header_container {
        width: 100vw;
        height: 20vh;
    }

    header {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../assets/background_landscape.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-origin: border-box;
    }

    .active {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        border-bottom: 4px solid #850505;
        padding-bottom: 0.2vh;
        color: #fff;
    }

    .header_logo {
        width: 10vw;
        float: right;
        margin-right: 6vw;
        margin-top: 2vh;
    }

    .header_logo img {
        width: 10vw;
    }

    .header_nav ul {
        width: 80vw;
        float: left;
        height: 8vh;
    }

    .header_nav {
        width: 50vw;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .header_nav ul {
        margin-top: 5vh;
        margin-left: 10vw;
    }

    .header_nav li {
        display: inline-block;
        margin-top: 2vh;
    }

    .header_nav li:not(:first-of-type) {
        margin-left: 3vw;
    }

    .header_nav li:not(.active) {
        padding-bottom: 0.5vh;
    }

    .header_nav li a {
        text-decoration: none;
        color: #fafafa;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 2.5rem;
        transition: all 0.5s ease-in-out;
        margin-bottom: 0.5vh;
    }

    .header_nav li a:hover {
        color: #fff;
    }

    .header_main {
        display: block;
        width: 100vw;
    }

    .header_content {
        width: 100vw;
        height: 80vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header_content h1 {
        font-size: 48px;
        font-weight: 500;
        margin-top: -20vh;
        text-align: center;
    }

    .header_content p {
        margin-top: 1vh;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 5px;
        text-align: center;
    }

    .header_buttons {
        width: 100vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .header_buttons button {
        width: 150px;
        height: 4vh;
        margin-top: 2vh;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 0px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        color: #e0e0e0;
        transition: all 0.5s ease-in-out;
    }

    .header_buttons button:first-of-type {
        margin-right: 0.5vw;
    }

    .header_buttons button:last-of-type {
        margin-left: 0.5vw;
    }

    .header_buttons button:hover {
        cursor: pointer;
        color: #fff;
    }
}
